body {
    margin: 0;
    overflow: auto;
    font-family: Georgia, serif;
}

#world {
    position: relative;
    min-width: 3000px;
    min-height: 3000px;

    background-image: url("https://nsidc.org/sites/default/files/images/After%20a%20snow%20storm%2C%20the%20sun%20emerged%20revealing%20this%20beautiful%20scene%20on%20Cedar%20River%20Road%20west%20of%20Mount%20Vernon%2C%20IA..jpg");
    background-size: 3500px;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 60px;
    font-weight: bold;
    color:white;
    text-decoration: underline;
}

.activity {
    position: absolute;
    font-style: italic;
    font-size: 28px;
    color: #003366;
    background-color: rgba(255,255,255,0.75);
    padding: 20px;
    border: 3px solid #003366;
    width: 350px;
    text-align: center;
}

.sledding {
    top: 800px;
    left: 500px;
}

.skating {
    top: 1800px;
    left: 2200px;
}

.frozen {position: absolute;
    top: 500px;
    right: 600px;
    font-size: 26px;
    font-weight: bold;
    color: #99ccff;
    background-color: rgba(0,0,50,0.7);
    padding: 25px;
    border: 4px solid white;
    text-align: center;}

.snowman {position: absolute;
    top: 2400px;
    left: 200px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;}

.sparkle {position: absolute;
    font-size: 40px;
    opacity: 0.8;}

.sparkle.one { top: 600px; left: 1600px; }
.sparkle.two { top: 2000px; left: 900px; }
.sparkle.three { top: 1200px; left: 2600px; }
.sparkle.four { top: 2600px; left: 1500px; }


#hiddenmessage {
    position: absolute;
    bottom: 300px;
    right: 300px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 80, 0.8);
    padding: 40px;
    border: 5px solid white;
    text-align: center;
}

.glow {
    color: #cce6ff;
    font-style: italic;
}

.tinynote {
    position: absolute;
    top: 2850px;
    left: 200px;
    font-size: 16px;
    color: white;
    opacity: 0.5;
}

.gilmore {position: absolute;
    font-size: 26px;
    font-style: italic;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    border: 3px solid #5c3a21;
    width: 360px;
    text-align: center;
    color: #5c3a21;}

    .smell { top: 1200px;
    left: 2100px;}

.town { top: 1400px;
    left: 400px;}
 .coffee { top: 2500px;
    left: 2200px;}
 .gazebo { position: absolute;
    top: 1000px;
    left: 1500px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 10px #ffffff;
    opacity: 0.9;
}